@import './reset.scss';

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

strong {
  font-weight: bold;
}